:root {
  /* Color Palette */
  --color-primary: #27ae60; /* Soft green */
  --color-primary-dark: #1e8449;
  --color-secondary: #f39c12; /* Bright orange */
  --color-secondary-dark: #e67e22;
  --color-accent: #3498db; /* Light blue accent */
  --color-bg-light: #f5f7fa;
  --color-bg-dark: #2c3e50;
  --color-text-dark: #2c3e50;
  --color-text-light: #ecf0f1;

  /* New Colors for Retro-Minimal Style */
  --color-retro-bg: #eae4d3; /* Light retro beige */
  --color-retro-dark: #3b3b3b; /* Dark retro gray */
  --color-retro-accent: #ff6347; /* Retro coral accent */

  /* Navbar */
  --navbar-bg-color: var(--color-retro-dark);
  --navbar-text-color: var(--color-retro-bg);
  --navbar-link-color: var(--color-text-light);
  --navbar-link-hover-color: var(--color-retro-accent);
  --hamburger-icon-color: var(--color-text-light);

  /* Button Colors */
  --button-bg-color: var(--color-primary);
  --button-hover-bg-color: var(--color-primary-dark);
  --button-text-color: var(--color-text-light);

  /* Gradients */
  --gradient-background: linear-gradient(135deg, #f5f7fa, #dfe6e9);
  --gradient-navbar: linear-gradient(45deg, #3b3b3b, #1e8449);
  --gradient-footer: linear-gradient(
    45deg,
    #1e8449,
    #27ae60
  ); /* Modificato per migliorare il contrasto */

  /* Typography */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto Mono", monospace;
  --font-size-base: 16px;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 64px;

  /* Transitions and Animations */
  --transition-duration: 0.3s;
  --transition-ease: ease-in-out;
  --fade-in-duration: 0.5s;
  --scale-duration: 0.3s;
}

/* Footer */
.footer {
  background: var(--gradient-footer);
  color: var(--color-text-light);
  padding: var(--space-lg) var(--space-md); /* Aumentato il padding per migliorare la struttura */
  text-align: center;
  transition: background-color var(--transition-duration) var(--transition-ease);
}

.footerLink {
  color: var(--color-text-light);
  margin: 0 var(--space-md); /* Spaziatura orizzontale per disporre i link in modo uniforme */
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-ease);

  &:hover {
    color: var(--color-secondary-dark);
  }
}

.footer .container {
  display: flex;
  justify-content: center; /* I link vengono centrati */
  align-items: center;
  flex-wrap: wrap; /* Per una buona disposizione su schermi piccoli */
  gap: var(--space-md); /* Aggiungiamo un gap per separare i link */
}
