.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-lg);
  min-height: 100vh;
  background: var(--gradient-background);
  animation: fadeIn var(--fade-in-duration) ease-in-out;
  text-align: center;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--color-primary);
  text-shadow: 2px 2px 4px var(--text-shadow-color);
  margin-bottom: var(--space-md);
  transition: transform var(--transition-duration),
    color var(--transition-duration);

  &:hover {
    transform: scale(1.05);
    color: var(--color-primary-dark);
  }
}
