.navbar {
  background-color: var(
    --color-retro-dark
  ); /* Colore di sfondo scuro per contrasto */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-lg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombra per separare la navbar dal resto della pagina */

  .title {
    font-size: var(--font-size-lg);
    color: var(
      --color-text-light
    ); /* Titolo chiaro per contrastare con lo sfondo scuro */
  }

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

    .navLink {
      margin-left: var(--space-md);
      color: var(--color-text-light); /* Link chiari per contrasto */
      text-decoration: none;
      transition: color var(--transition-duration) var(--transition-ease);

      &:hover {
        color: var(--color-retro-accent); /* Hover con accento retro */
      }
    }
  }

  /* Mobile Hamburger Menu */
  .hamburger {
    display: none;
  }

  @media (max-width: 768px) {
    .links {
      display: none; /* Nascondi i link nel menu su mobile */
    }

    .hamburger {
      display: block; /* Mostra il menu hamburger su mobile */
    }
  }
}
